Django==1.7.1
django-moderation==0.3.6
psycopg2==2.4.5
Pillow==2.6.1
PyYAML==3.11
django-debug-toolbar==1.2.2
gunicorn==19.1.1
django-flatpages-i18n==0.4.1
django-guardian==1.2.4
geopy==1.4.0
django-easy-maps==0.9
django-debug-panel==0.8.0