nav li, nav ul {
    display: inline;
}
nav li {
    background: white;
    border: white 0 solid;
    border-radius: 20px;
    padding: 5px;
    margin: 4px;
    -moz-box-shadow: -3px -3px 3px 3px #9F0B0B;
    -webkit-box-shadow: -3px -3px 3px 3px#9F0B0B;
    box-shadow: -3px -3px 3px 3px #9F0B0B;
}

nav li:hover{
    background: lightgray;
    border: #c80014;
    -moz-box-shadow: 3px 3px -3px -3px #9F0B0B;
    -webkit-box-shadow: 3px 3px -3px -3px#9F0B0B;
    box-shadow: 3px 3px -3px -3px #9F0B0B;
}

nav ul {
    border: #c80014 1px solid;
    padding: 5px;
    margin : 10px;
    background: #c80014;
}

nav {
    width: 100%;
    background: #c80014;
    padding: 15px;
    margin: 15px;
}

header img{
    height: 100px;
}

.categorie li {
    display: inline;
}

.pagination li , ul.pagination {
    display: inline;
}

a {
    text-decoration: none;
    color: #c80014;
}

a:hover {
    color: #AAAAAA;
}

a:visited {
    color: #9F0B0B;
}