nav li, nav ul {
    display: inline;
}
nav li {
    background: white;
    border: white 0
    solid;
    border-radius: 20px;
    padding: 5px;
    margin: 4px;
    -moz-box-shadow: -3px -3px 3px 3px #9F0B0B;
    -webkit-box-shadow: -3px -3px 3px 3px#9F0B0B;
    box-shadow: -3px -3px 3px 3px #9F0B0B;
}

nav li:hover{
    background: lightgray;
    border: #c80014;
    -moz-box-shadow: 3px 3px -3px -3px #9F0B0B;
    -webkit-box-shadow: 3px 3px -3px -3px#9F0B0B;
    box-shadow: 3px 3px -3px -3px #9F0B0B;
}

nav.menus, nav.languages {
    display: inline;
}

nav ul {
    border: #c80014 1px solid;
    padding: 15px;
    background: #c80014;
}

nav.main {
    width: 100%;
    background: #c80014;
}

header img{
    height: 100px;
}

.categorie li {
    display: inline;
}

.pagination li , ul.pagination {
    display: inline;
}

a {
    text-decoration: none;
    color: #c80014;
}

a:hover {
    color: #AAAAAA;
}

a:visited {
    color: #9F0B0B;
}

body {
    margin: 0px;
}

section#main {
    width: 70%;
    float: left;
}
aside.spectacles {
    float: left;
    width: 30%
}

aside.sponsors {
    display: inline-block;
}

aside.spectacles div{
    border: 1px solid black;
}