{% load i18n %}
<div>
    {% for day in list_days %}
        {% ifchanged day.day.month %}
            {% if not forloop.first %}
                </select></label>
            {% endif %}
            <label class="agenda">{{ day.day|date:"F" }}
            <select onchange="location = this.options[this.selectedIndex].value;">
            <option>{% trans "jour" %}</option>
        {% endifchanged %}
        <option value="{% url 'spectacles.views.agenda' year=day.day.year month=day.day.month day=day.day.day %}"{% if not day.id__count %} disabled{% endif %}{% if day.day == date %} selected="selected"{% endif %}>
            {{ day.day|date:"l d" }}
        </option>
    {% endfor %}
    </select>
    </label>
</div>