{% load i18n %}
{% ifchanged representation.datetime|date:"l d F Y" %}
    <h2>{{ representation.datetime|date:"l d F Y" }}</h2>
{% endifchanged %}
<div class="spectacle">
    <div class="headers">
        <h3>{{ representation.datetime|date:"H \h i" }}</h3>
        <a href="{% url 'spectacles.views.spectacle' representation.spectacle.id %}"><h3 class="compagnie">
            {% for association in representation.spectacle.associations.all %}{{ association.name }}
                {% if not forloop.last %}, {% endif %}{% endfor %}</h3>
            </h3>
            <h2><span itemprop="summary" class="titre">{{ representation.spectacle.name }}</span></h2></a>
        <span class="categorie" itemprop="eventType">{{ representation.spectacle.categorie.name }}</span><br/>
<span itemprop="location" itemscope itemtype="http://data-vocabulary.org/​Organization">
	<br/><span class="lieu">{% trans "Lieu" %} :</span><a
        href="{% url 'spectacles.views.place' id=representation.lieu.id %}"><span itemprop="name"
                                                                                  class="lieutext">{{ representation.lieu.name }}</span></a> <br/>
	<span class="ville">Ville : </span>
	<span itemprop="adress" itemscope itemtype="http://data-vocabulary.org/Address">
		<a href="commune-show-103.html"><span itemprop="locality"
                                              class="ville">{{ representation.lieu.city }}</span></a>
		<span itemprop="street-adress" style="font-size: 0;">{{ representation.lieu.adress }}</span>
	</span></div>
    <span style="font-size: 0;" itemprop="geo">46.24974234461709, 7.349731810390949</span>
    </span>
    {% if representation.spectacle.photo %}
        <img src="{{ representation.spectacle.photo.url }}"/>
    {% endif %}
    <p class="DescriptionSpectacle" itemprop="description">{{ representation.spectacle.presentation_cahier }}
</div>
