{% load i18n %}
{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</lui>
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url "spectacles.views.spectacles" %}" method="POST" style="display: inline;">
    <input label="search" type="text" name="search_term" class="onliner" id="search_input"
           placeholder="{% if unquoted_url %}{{ unquoted_url }}{% else %}{% trans "Recherche" %}{% endif %}">
    <input type="submit" value="{% trans "Rechercher" %}" class="search_button">
    {% csrf_token %}
</form>
{% if search_term %}
    <form method="GET" action="{% if categorie %}
	{% url 'spectacles.views.spectacles' categorie=categorie.slug %}
	{% else %}
	{% url 'spectacles.views.spectacles' %}
	{% endif %}" style="display: inline"><input type="Submit" value="{% trans "Effacer la recherche" %}"/>
        {% csrf_token %}
    </form>
{% endif %}